pandas = "*"
numpy = "*"
scikit-learn = "*"
statsmodels = "*"
keras = "*"
torch = "*"
sqlalchemy = "*"
psycopg2 = "*"
matplotlib = "*"
seaborn = "*"
xgboost = "*"
lightgbm = "*"
plotly-express = "*"
plotly = "*"
jupyter = "*"
python-dotenv = "*"
pyhocon = "*"
